html {
  font-size: 110%;
}

body {
  background-color: Gray;
  font-family: Garamond, 'EB Garamond', serif;
  font-weight: 100;
}

main {
  max-width: 640px;
  margin: 70px auto;
  padding: 35px 40px 28px;
  background-color: white;
  border-radius: 25px;
  /*double shadow under the main to create a keyboard key*/
  box-shadow: 0 10px 2px rgba(255, 255, 255, 0.6), 0 12px 0 rgba(0, 0, 0, 0.3);
}

main.pressed {
  /*move position with shadows unmoved to create press down effect*/
  position: relative;
  top: 5px;
  box-shadow: 0 5px 2px rgba(255, 255, 255, 0.6), 0 7px 0 rgba(0, 0, 0, 0.3);
}

header {
  font-size: 2.8rem;
}

hr {
  margin: 1rem 0 1.5rem
}

.row__center-align {
  text-align: center;
}

.row__center-align>* {
  display: inline-block;
  font-size: 2rem;
  margin-top: 1.6rem;
}

#stem {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.choices {
  font-size: 1.4rem;
  margin: .5rem 0;
  line-height: 110%;
  display: block;
}

a {
  cursor: pointer;
}

a:hover {
  color: grey;
}

a:active {
  position: relative;
  top: 2px;
}

.announcements {
  display: flex;
  font-size: 1.3rem;
  margin-top: 2rem;
}

#timer {
  width: 33%;
}

#score {
  width: 25%;
}

.hidden {
  display: none !important;
}
